<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Stacked would like permission to access your camera so that you may scan wallet QR codes</string>
	<key>ATSApplicationFontsPath</key>
	<string></string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Stacked</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.stackedinvest.ios</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>stackedInvest</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>VisueltPro-Black.ttf</string>
		<string>VisueltPro-BlackItalic.ttf</string>
		<string>VisueltPro-Bold.ttf</string>
		<string>VisueltPro-BoldItalic.ttf</string>
		<string>VisueltPro-ExtraLight.ttf</string>
		<string>VisueltPro-ExtraLightItalic.ttf</string>
		<string>VisueltPro-Italic.ttf</string>
		<string>VisueltPro-Light.ttf</string>
		<string>VisueltPro-LightItalic.ttf</string>
		<string>VisueltPro-Medium.ttf</string>
		<string>VisueltPro-MediumItalic.ttf</string>
		<string>VisueltPro-Regular.ttf</string>
		<string>VisueltPro-Thin.ttf</string>
		<string>VisueltPro-ThinItalic.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>Braze</key>
	<dict>
		<key>Endpoint</key>
		<string>sdk.iad-05.braze.com</string>
	</dict>
</dict>
</plist>
