<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>283922464738-heb63q0cuvu262eu8fvp97fj2o98irtj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.283922464738-heb63q0cuvu262eu8fvp97fj2o98irtj</string>
	<key>API_KEY</key>
	<string>AIzaSyA-bUnML2V4gNL3_LTmH099T39nwSyKp2A</string>
	<key>GCM_SENDER_ID</key>
	<string>283922464738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stackedinvest.ios</string>
	<key>PROJECT_ID</key>
	<string>analytics-integration-67d7c</string>
	<key>STORAGE_BUCKET</key>
	<string>analytics-integration-67d7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283922464738:ios:c492a88f99809d6c6ac3bb</string>
</dict>
</plist>